**/.aws
**/.DS_Store
**/.env
**/.git
**/.vscode
**/*.md
**/.env
**/coverage
**/node_modules
dist
Dockerfile
docker-compose.yml
npm-debug.log

NOTES*.md

# non-Docker projects
infrastructure/*
local-dev-reverse-proxy/*
website/*
